<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.bjtu.nourriture" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.moment.NewMomentActivity"
            android:label="@string/title_activity_new_moment"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".activities.moment.DetailMomentActivity"
            android:label="@string/title_activity_detail_moment"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.edu.bjtu.nourriture.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.moment.SocialListOfMomentActivity"
            android:label="@string/title_activity_social_list_of_moment"
            android:parentActivityName=".activities.moment.DetailMomentActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.moment.DetailMomentActivity" />
        </activity>
        <activity
            android:name=".activities.RecipeProfileActivity"
            android:label="Recipe profile"
            android:launchMode="singleTop" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SearchFriendActivity"
            android:label="Search friend"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".activities.RecipeMoments"
            android:label="Recipe&apos;s Moments" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.RecipeProfileActivity" />
        </activity>
        <activity
            android:name=".activities.recipe.DetailRecipeActivity"
            android:label="@string/title_activity_detail_recipe"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cn.edu.bjtu.nourriture.activities.MainActivity" />
        </activity>
    </application>

</manifest>
